<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>природа</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <table>
        <tr>
            <td class="left-cell">
                <div class="two-columns-text">
                    <span class="paragraph-1">Природа просыпается с первыми лучами солнца. Роса на траве сверкает,
                        словно рассыпанные
                        бриллианты.
                        Воздух чист и прохладен, наполнен ароматом хвои и влажной земли.
                        В это утреннее время все кажется особенно свежим и новым.</span>
                    <p class="paragraph-2">День в лесу полон жизни и движения. Белка прыгает по ветвям, деловито собирая
                        припасы.
                        Слышится стук дятла и щебет птиц, сливающиеся в непрерывный многоголосый хор.
                        Солнечный свет пробивается сквозь густую листву, рисуя на земле причудливые узоры.</p>
                    <p class="paragraph-3">К вечеру природа затихает, готовясь ко сну.
                        Последние солнечные лучи окрашивают небо в нежные золотые и розовые тона.
                        Над рекой стелется легкий туман, и в наступающей тишине становится слышен лишь успокаивающий
                        шепот листьев.
                        Наступает время покоя.</p>
                </div>
            </td>
            <td class="right-cell">
                <div class="right-cell-text">
                    <p class="nature-text">Природа</p>
                    <p class="img-text">Картинки <span>природы</span></p>
                </div>
                <div class="images">
                    <div class="img-morning">
                        <img src="../resources/nature-morning.jpg" alt="природа утром">
                    </div>
                    <div class="img-day">
                        <img src="../resources/nature-day.webp" alt="природа днем">
                    </div>
                    <div class="img-evening">
                        <p><span>Природа</span> вечером</p>
                        <img src="../resources/nature-evening.jpg" alt="природа вечером">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>